<!DOCTYPE html>
<html>
  <head>
    <title>Client</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'client' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Admin', admin_root_path %>

    <div id="client"><%= yield %></div>
  </body>
</html>
